@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Vraja Das App!</h1>
    <h3>Your app to view Vraja's skills in ASP.NET</h3>
    <p>Contact Vraja: <a href="mailto:vraja.pro@gmail.com">vraja.pro@gmail.com</a></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
